/* Ajusta a lista de informações do veículo */
.vehicle-info-list dt { /* Termo (ex: "Marca:") */
    font-weight: 600;
    color: #a0a0a0; /* Um cinza um pouco mais claro */
    padding-bottom: 0.5rem;
}

.vehicle-info-list dd { /* Descrição (ex: "Ford") */
    font-weight: 400;
    font-size: 1.1rem;
    padding-bottom: 0.5rem;
}

/* Ajusta o rodapé do card com os botões de ação */
.card-footer.text-end {
    background-color: transparent !important;
    border-top: 1px solid var(--dark-border) !important;
    padding-top: 1rem;
}

/* Título da seção do histórico */
.history-title {
    border-bottom: 1px solid var(--dark-border);
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
}

/* Efeito de hover na tabela de histórico */
.history-table tbody tr:hover {
    background-color: #6e6d86; /* Um pouco mais claro que o padrão para destaque */
}

main .card.bg-dark-light {
    border-radius: 10px; 
}